{% extends "base.html" %}
{% block title %} Bank Account Management {% endblock title %}
{% block content %}
<h3 class="bg-secondary text-center text-white">Edit Bank Account</h3>
{% for e in ea %}
<form action="/edit_bankaccount/{{e.id}}" method="POST">
    {% csrf_token %}
    <table class="table table-borderless">
        
        <tr>
            <td><label>PPO No.</label></td>
            <td>{{e.ppo}}</td>
        </tr>
        <tr>
            <td><label>Pensioner Name</label></td>
            <td><input type="text" name="pname" value="{{e.pname}}"></td>
        </tr>
        <tr>
            <td><label>Bank</label></td>
            <td><input type="text" name="bname" value="{{e.bname}}"></td>
        </tr>
        <tr>
            <td><label>Branch</label></td>
        <td><input type="text" name="bb" value="{{e.bb}}"></td>
        </tr>
        <tr>
            <td><label>Account No.</label></td>
        <td><input type="text" name="acctno" value="{{e.acctno}}"></td>
        </tr>
        <tr>
            <td><label>Payment Ratio</label></td>
        <td><input type="float" name="payment_ratio" value="{{e.payment_ratio}}"></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center"><input class="btn btn-info" type="submit" value="Edit"></td>
        </tr>

    </table>
    {% endfor %}
</form>

{% endblock content %}