{% extends "base.html" %}

<div class="table-responsive-lg">
{% block content %}
{% load humanize %}


<table class="table table-striped table-bordered table-hover table-responsive">
    <tr>
        <th>PPO No.</th>
        <th>Name</th>
        <th>Pay</th>
        <th>Age</th>
        <th>Qualifying Service</th>
        <th>Commutation Rate</th>
        <th>Date of Birth</th>
        <th>Date of Appointment</th>
        <th>Date of Retirement</th>

        <th>Date of Death</th>
        <th>Status</th>

        
        
    </tr>{% for i in status %}
    <tr>
        <td>{{i.pensioner.ppo}}</td>
        <td>{{i.pensioner.name}}</td>
        <td>{{i.pensioner.lpd | intcomma}}</td>
        <td>{{i.pensioner.age}}</td>
        <td>{{i.pensioner.qs}}</td>
        <td>{{i.pensioner.comm_rate}}</td>
        <td>{{i.pensioner.dob}}</td>
        <td>{{i.pensioner.doa}}</td>
        <td>{{i.pensioner.dor}}</td>
        <td>{{i.pensioner.dod}}</td>
        <td>{{i.status}}</td>
        
        

        
    </tr>
    {% endfor %}

</table>
{% endblock content %}
</div>