{% extends "base.html" %}
{% block title %} Pension Roll {% endblock title %}
{% block content %}
<h3 class="bg-info text-center text-white">Process Monthly Pension Roll</h3>
<form action="payment" method="post" class="form d-inline" id="myForm" onsubmit="return validateForm()">
    {% csrf_token %}

    <table class="form">
        <tr>
            <td><label>Month</label></td><td><input type="text" name="from" required></td>
        </tr>
        <tr>
            <td><label>Year</label></td><td><input type="text" name="to" required ></td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><input class="bg-info" type="submit" value="Process Payment"></td>
        </tr>
    </table>

    
    

    
</form>
{{msg}}
{{errlist}}
<script>
    function validateForm() {
      let x = document.forms["myForm"]["from"].value;
      let y = document.forms["myForm"]["to"].value;
      if (x >12 || y<2022) {
        alert("moth should be 1-12 and year below 2022 not allowed");
        return false;
      }
    }
    </script>
{% endblock content %}