{% extends 'loan/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="row"><div class="col"><div class="col"><div style="text-align:right;">
    <button class="btn btn-primary" type="submit" onclick="printDiv('detail')">Print</button>
</div></div></div>
<div class="col-xl-12">
  <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-chart-bar me-1"></i>
          Loan Receivables

      </div>
      <div class="card-body"><div width="100%" id="columnchart_values">
        <script type="text/javascript">
          google.charts.load("current", { packages: ['corechart'] });
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ["Element", "Recovery Rs.", { role: "style" }],
              ["2022-23", {% if fy22.r22 %}{{ fy22.r22 }}{% endif %}, "#00cc00"],
          ["2023-24", {% if fy23.r23 %}{{ fy23.r23 }}{% endif %}, "#e600ac"],
            ["2024-25",{% if fy24.r24 %} {{ fy24.r24 }}{% endif %}, "gold"],
            ["2025-26", {% if fy25.r25 %}{{ fy25.r25 }}{% endif %}, "color: #0052cc"],
            ["2026-27", {% if fy26.r26 %}{{ fy26.r26 }} {% endif %}, "green"],
            ["2027-28", {% if fy27.r27 %}{{ fy27.r27 }} {% endif %}, "pink"],
            ["2028-29", {% if fy28.r28 %}{{ fy28.r28 }} {% endif %}, "#990000"],
            ["2029-30", {% if fy29.r29 %}{{ fy29.r29 }} {% endif %}, "grey"],
            ["2030-31", {% if fy30.r30 %}{{ fy30.r30 }} {% endif %}, "#00cccc"],
            ["2031-32 & beyond", {% if fy31.r31 %}{{ fy31.r31 }} {% endif %}, "#99cc00"]
          ]);
    
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
            {
              calc: "stringify",
              sourceColumn: 1,
              type: "string",
              role: "annotation"
            },
            2]);
    
          var options = {
            title: "Receivable Loan Year-wise",
            width: 1200,
            height: 600,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
      }
        </script>
      </div></div>
  </div>
</div>
<div class="row">
  <div class="col-xl-6">
      <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-chart-area me-1"></i>
              Loan Receivable Year
          </div>
          <div class="card-body">
            <table class="table table-bordered">
            <tr><th>FY</th><th>Loan Receivable (Rs.)</th></tr>
            <tr>
              <td>2022-23</td>
              <td>{{ fy22.r22 | intcomma}}</td>
            </tr>
            <tr>
              <td>2023-24</td>
              <td>{{ fy23.r23 | intcomma}}</td>
            </tr>
            <tr>
              <td>2024-25</td>
              <td>{{fy24.r24 | intcomma}}</td>
            </tr>
            <tr>
              <td>2025-26</td>
              <td>{{fy25.r25 | intcomma}}</td>
            </tr>
            <tr>
              <td>2026-27</td>
              <td>{{ fy26.r26 | intcomma }}</td>
            </tr>
            <tr>
              <td>2027-28</td>
              <td>{{ fy27.r27 | intcomma }}</td>
            </tr>
            <tr>
              <td>2028-29</td>
              <td>{{ fy28.r28 | intcomma }}</td>
            </tr>
            <tr>
              <td>2029-30</td>
              <td>{{ fy29.r29 | intcomma }}</td>
            </tr>
            <tr>
              <td>2030-31</td>
              <td>{{ fy30.r30 | intcomma }}</td>
            </tr>
            <tr>
              <td>2031-32</td>
              <td>{{ fy31.r31 | intcomma }}</td>
            </tr>
          <tr><td>Total</td><td>{{tr.total | intcomma}}</td></tr>
          </table></div>
      </div>
  </div>
  <div class="col-xl-6">
      <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              Loan Disbursment
          </div>
          <div class="card-body"><table class="table table-bordered">
            <tr>
              <th>Loan No.</th><th>Scheme#</th><th>Disbursment Date</th><th>Amount (Rs.)</th><th>Delete</th>
            </tr>
            {% for l in loan %}
            <tr><td>{{l.loan_no}}</td><td>{{l.loan_scheme}}</td><td>{{l.disbursment_date}}</td><td>{{l.loan_amount | intcomma }}</td><td><form action="{% url 'loan:delete' l.loan_no %}" method="POST">{% csrf_token %}<input type="submit" value="Delete" class="btn btn-primary"> </form></td></tr>
            
            {% endfor %}
            <tr><td colspan="3">Total</td><td>{{tl.total| intcomma }}</td></tr>
          </table></div>
      </div>
  </div>
</div>

<div id="detail">
<div class="row">
 
</div>
<div class="row">
 <div class="col-4 ms-5">
  <br>
  <br>
  <br>
  <br>
  
</div>
<div class="col-3 ms-5">
    
  
  
</div>
</div>
</div>
</div>

<script>
  function printDiv(detail) {
      var mywindow = window.open();
      var content = document.getElementById(detail).innerHTML;
      var realContent = document.body.innerHTML;
      mywindow.document.write(content);
      mywindow.document.write('<link href="{% static 'css / bootstrap.min.css' %}" rel="stylesheet">');
      mywindow.document.write('<style> td {border:1px solid black;}</style>');
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
      mywindow.print();
      document.body.innerHTML = realContent;
      mywindow.close();
      return true;
  }
</script>


{% endblock content %}